{% extends "base.html" %}

{% block title %}home{% endblock  %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <a class="nav-link dropdown-toggle bg-primary text-light w-100" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <h5 class='font-monospace '>Profile</h5>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">My Post</a></li>
                    <li><a class="dropdown-item" href="/new-post">New Post</a></li>
                    {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
                    <li><a class="dropdown-item" href="#">Sign Out</a></li>
                </ul>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
    <br>
    <div class="container custom-container" style="max-width: 1350px; ">
        {% for post in posts %}
            <article class="media content-section">
                <div class="media-body" style="border: 1px solid black; padding: 23px; margin-bottom: 10px;">
                    <div class="article-metadata">
                        <h1 class="text-uppercase" style="text-align:left;float:left; color: #000000;"> {{ post.author }} </h1>
                        <h5 style="text-align:right;float:right;"> {{ post.data_posted }} </h5>
                        <hr style="clear:both;" />

                    </div>
                    <h3> {{ post.title }} </h3>
                        <p class="article-content"> {{post.content}} </p>
                    <br><br>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock  %}