{% extends "base.html" %}

{% block title %}home{% endblock  %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <a class="nav-link dropdown-toggle bg-primary text-light w-100" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <h5 class='font-monospace '>Profile</h5>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/mypost">My Post</a></li>
                    <li><a class="dropdown-item" href="/new-post">New Post</a></li>
                    {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
                    <li><a class="dropdown-item" href="/signout">Sign Out</a></li>
                </ul>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
    <br>
    <form method='post'>
        {% csrf_token %}
        <div class="container custom-container " style="max-width: 1250px;">
            <br><br>
            <h1 class="fw-bolder"> Make a new post.</h1>
            <hr><br>
            <div class="mb-3">
                <h3><label for="exampleInputEmail1" class="form-label">Heading/Title</label></h3>
                <input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" name='title' >
            </div>
            <div class="form-group">
                <h3><label for="exampleFormControlTextarea3">Content</label></h3>
                <textarea class="form-control" id="exampleFormControlTextarea3" rows="7" name='content' ></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Post">
        </div>
    </form>

{% endblock  %}